//Functions
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Flexbox
@mixin flexbox {
  display: flex;
}

// Flexbox Direction
@mixin flex-direction($value: row) {
  flex-direction: $value;
}

// Transition
@mixin transition($property: all, $duration: .5s, $ease: linear){
  transition: $property $duration $ease;
}

// Font size
@mixin font-size($sizeValue:unit($font__size--default)) {
  $remSize: ($sizeValue / strip-unit($font__size--default));
  font-size: $remSize + rem;
}